.logged-user {
  margin: 0;
  padding: 0; }
  .logged-user a {
    display: inline-block;
    margin-right: 30px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .logged-user a:hover {
    border-bottom: 1px solid #fff; }
  .logged-user .user {
    margin-right: 50px; }
  .logged-user .cart-main {
    display: inline-block; }
  .logged-user .cart {
    margin-right: 65px; }

.logged-user:after {
  display: none; }

/* ==================================================
    =Home
===================================================== */
.container {
  padding: 0;
  width: 1170px;
  margin: 0 auto; }

.body-wrapper {
  width: 100%; }

#page-header {
  padding: 40px 0 0 60px; }
  #page-header .container {
    width: 100%; }

#menu-trigger {
  display: none; }

.site-tagline {
  margin-bottom: 40px; }

.main-nav {
  position: absolute;
  top: 40px;
  right: 40px;
  opacity: 1;
  visibility: visible;
  background: transparent;
  width: auto;
  height: auto;
  padding: 0;
  text-align: right; }
  .main-nav ul li {
    margin-left: 40px;
    display: inline-block; }
    .main-nav ul li a {
      font-size: 15px;
      padding: 11px 22px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px; }
    .main-nav ul li a:hover {
      background: #7a55a0; }

.login {
  padding-bottom: 100px; }

.login-link {
  padding-top: 2px;
  font-size: 14px;
  margin-bottom: 50px; }

#promo.home-promo {
  height: 650px;
  padding-top: 340px; }

.close-login {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 45px;
  height: 45px;
  display: block;
  text-indent: -9999px;
  background: url(../img/icons/close-icon.png) no-repeat center center; }

.instructor {
  margin: 0 27px 20px 0; }

.instructor-thumb:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.instructor a:hover .instructor-thumb:before {
  opacity: 0;
  visibility: hidden; }

.instructor:last-child {
  margin-right: 0; }

.instructor-info article {
  width: 570px;
  padding: 0 30px;
  margin-right: 130px; }

.instructor-info .certificates {
  width: 370px; }
  .instructor-info .certificates img {
    margin: 0; }
  .instructor-info .certificates picture {
    margin-right: 12px; }
  .instructor-info .certificates picture:last-child {
    margin-right: 0; }

section#video-shop {
  background-position: center center; }

.video-blocks .title-4 {
  margin-bottom: 25px; }

.video-blocks .block {
  width: 370px;
  margin: 0 30px 20px 0;
  padding: 0; }

.video-blocks .video-blocks-wrapper .block:nth-child(3n+3) {
  margin-right: 0; }

.video-preview a {
  overflow: hidden; }
  .video-preview a img {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 20s ease-in-out;
    -moz-transition: all 20s ease-in-out;
    -ms-transition: all 20s ease-in-out;
    -o-transition: all 20s ease-in-out;
    transition: all 20s ease-in-out; }

.video-preview a:hover img {
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2); }

.video-preview a:before {
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.video-preview a:after {
  z-index: 2; }

.video-preview a:hover:before {
  opacity: 0;
  visibility: hidden; }

.vs-promo {
  height: 340px;
  padding: 85px 20px 20px 20px; }

section#joga-info {
  padding: 60px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section#joga-info .title-1 {
    margin-bottom: 50px; }
  section#joga-info .left-side {
    width: 570px;
    padding: 0 20px; }
    section#joga-info .left-side .highlighted {
      width: 300px; }
  section#joga-info .right-side {
    width: 400px;
    float: right;
    padding-right: 20px;
    padding-left: 20px; }
  section#joga-info .highlighted {
    margin-bottom: 50px; }

section#join-joga {
  padding-top: 105px;
  height: 460px;
  background: url(../img/assets/join-joga.jpg) no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.login-btns .face-login,
.login-btns .twitter-login {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-btns .face-login:hover {
  background-color: #2A5AA9; }

.login-btns .twitter-login:hover {
  background-color: #0881A9; }

.login-form .btn-1 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-form .btn-1:hover {
  background-color: #f492d4; }

.block-description {
  float: left;
  height: 402px;
  width: 770px;
  padding: 0 30px; }
  .block-description article {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

/* ==================================================
    =Benificije
===================================================== */
.left-side,
.right-side {
  width: 570px;
  padding: 0 30px; }

.left-side {
  float: left; }

.right-side {
  float: right; }

section#benificije {
  padding: 100px 0 60px;
  background: #7a55a0 url(../img/assets/namaste.jpg) no-repeat center center;
  background-size: 100%; }
  section#benificije .left-side,
  section#benificije .right-side {
    background: rgba(115, 54, 95, 0.8);
    width: 570px;
    padding: 30px; }
  section#benificije .upper {
    background: transparent; }
  section#benificije .left-side {
    float: left; }
  section#benificije .right-side {
    float: right; }

section#user-warning .left-side,
section#user-warning .right-side {
  padding: 0 40px; }

.big-title {
  font-size: 260px;
  line-height: 210px;
  margin-bottom: 50px !important; }

/* ==================================================
    =Instructors
===================================================== */
.instructor-preview .quote {
  float: left;
  width: 690px;
  margin-left: 110px; }

.instructor-content {
  padding: 70px 0;
  zoom: 1; }
  .instructor-content:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .instructor-content .class-info {
    float: left;
    padding-left: 30px;
    width: 400px; }
  .instructor-content article {
    float: left;
    width: 770px;
    padding: 0 30px; }
    .instructor-content article p {
      margin-bottom: 40px; }
  .instructor-content article.no-class {
    width: 100%; }

/* ==================================================
    =Yoga center
===================================================== */
.about {
  margin: 50px 0; }

.article-detailed .gallery {
  width: 570px;
  padding: 0;
  margin-right: 30px;
  text-align: left; }

.article-detailed .article-content {
  width: 570px;
  padding: 0 30px 0 30px;
  background: transparent;
  text-align: left; }

/* ==================================================
    =Video shop
===================================================== */
.filter-videos {
  zoom: 1; }
  .filter-videos:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .filter-videos .group {
    float: left;
    width: 170px;
    margin-bottom: 0;
    margin-right: 30px;
    display: inline-block; }
  .filter-videos .group.search {
    float: right;
    width: 270px; }

.number-of-results {
  margin-bottom: 20px; }

.pagination ul li {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pagination ul li:hover {
  border: 1px solid #fff;
  background: #c288ff; }

.pagination .prev,
.pagination .next {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pagination .prev:hover,
.pagination .next:hover {
  background-color: #c288ff; }

/* ==================================================
    =Package
===================================================== */
.video-share {
  position: relative; }
  .video-share a {
    margin: 15px 0 10px; }
  .video-share a,
  .video-share a:before,
  .video-share a:after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .video-share a:before {
    opacity: 1;
    visibility: visible; }
  .video-share a:after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons/face-icon-hover.png) no-repeat center center;
    background-size: 22px;
    opacity: 0;
    visibility: hidden; }
  .video-share a:hover {
    color: #f492d4; }
  .video-share a:hover:before {
    opacity: 0;
    visibility: hidden; }
  .video-share a:hover:after {
    opacity: 1;
    visibility: visible; }

#chosen-package {
  background: #b6a3b0 url(../img/assets/carpet-2.png) no-repeat center center; }
  #chosen-package .main-content {
    float: left;
    width: 770px;
    margin-right: 30px;
    margin-bottom: 30px; }
  #chosen-package .side-content {
    width: 370px;
    margin-bottom: 30px; }
    #chosen-package .side-content .video-description {
      padding-left: 40px;
      padding-right: 40px; }
  #chosen-package .video-blocks {
    margin-top: 50px; }

.btn-3, .added_to_cart,
.video-description a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-3:hover, .added_to_cart:hover {
  background-color: #f492d4; }

.video-description a:hover {
  color: #f492d4; }

/* ==================================================
    =Play video
===================================================== */
#video-screen {
  padding-top: 50px; }
  #video-screen .main-content {
    float: left;
    width: 770px;
    margin-right: 30px; }
  #video-screen .side-content {
    width: 370px;
    float: right; }
    #video-screen .side-content .info-box,
    #video-screen .side-content .price-box-2 {
      width: 100%; }
    #video-screen .side-content .price-box-2 {
      padding-bottom: 0px;
      padding-top: 15px; }
  #video-screen .video-wrapper {
    margin-bottom: 50px; }

.title-5.lock {
  background: url(../img/icons/lock-icon.png) no-repeat right 20px; }

.btn-4,
.btn-5 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-4:hover,
.btn-5:hover {
  background-color: #f492d4; }

/* ==================================================
    =Payment
===================================================== */
.btn-6 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-6:hover {
  background: #f492d4; }

/* ==================================================
    =registered user
===================================================== */
#user-videos {
  background: url(../img/assets/mountains.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.renew {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.renew:hover {
  background: #fff;
  color: #c288ff; }

/* ==================================================
    =TT school
===================================================== */
.side-content.-left-sided {
  width: 400px;
  padding: 0 30px; }

.main-content.-right-sided {
  width: 770px;
  padding: 0 30px; }

#program-description {
  padding: 50px 0 30px; }

#lr-content-wrapper {
  padding: 100px 0 50px; }

.side-menu li a span {
  position: relative; }

.side-menu li a span:after {
  content: "";
  width: 9px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -30px;
  background: url(../img/icons/side-menu-arr.png) no-repeat center center;
  background-size: 9px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.side-menu li a:hover span:after {
  right: -50px;
  opacity: 1; }

/* ==================================================
    =Footer
===================================================*/
section#newsletter {
  padding: 100px 0 50px; }
  section#newsletter p {
    font-size: 14px;
    line-height: 24px; }
  section#newsletter .highlighted {
    margin-bottom: 25px; }
  section#newsletter form {
    margin-bottom: 100px; }

.footer-content {
  zoom: 1;
  margin-bottom: 65px; }
  .footer-content:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .footer-content .block {
    display: inline-block;
    width: 33%; }
    .footer-content .block .socials li a {
      overflow: hidden;
      text-indent: 9999px; }
  .footer-content .block:nth-child(1) {
    text-align: left; }
  .footer-content .block:nth-child(2) {
    text-align: center;
    padding-top: 55px;
    position: relative; }
    .footer-content .block:nth-child(2) p {
      font-size: 17px !important; }
  .footer-content .block:nth-child(2):before {
    content: "";
    width: 449px;
    height: 405px;
    display: block;
    background: url(../img/assets/footer-decor.png) no-repeat center center;
    position: absolute;
    top: -86px;
    left: -18px; }
  .footer-content .block:nth-child(3) {
    text-align: right; }

.link-4 {
  font-size: 16px !important;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link-4:hover {
  color: #f492d4; }

.disclaimer {
  zoom: 1; }
  .disclaimer:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .disclaimer p {
    float: left;
    text-align: left; }
  .disclaimer nav {
    float: right; }
    .disclaimer nav ul {
      margin-top: 0; }
      .disclaimer nav ul li {
        display: inline-block; }
        .disclaimer nav ul li a {
          font-size: 12px;
          border-bottom: 0;
          border-right: 1px #fff solid;
          padding-right: 10px;
          margin-right: 10px;
          padding-bottom: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .disclaimer nav ul li a:hover {
          color: #f492d4; }
      .disclaimer nav ul li:last-child a {
        padding-right: 0;
        margin-right: 0;
        border-right: 0; }

.login-link {
  background: transparent;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-link:before,
.login-link:after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-link:before {
  opacity: 1;
  visibility: visible;
  background: url(../img/icons/user-icon.png) no-repeat center center; }

.login-link:after {
  opacity: 0;
  visibility: hidden;
  background: url(../img/icons/user-icon-hover.png) no-repeat center center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-link:hover {
  color: #f492d4; }

.login-link:hover:before {
  opacity: 0;
  visibility: hidden; }

.login-link:hover:after {
  opacity: 1;
  visibility: visible; }

.link-2 {
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link-2:before,
.link-2:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link-2:before {
  background: url(../img/icons/play-icon.png) no-repeat center center;
  opacity: 1;
  visibility: visible; }

.link-2:after {
  background: url(../img/icons/play-icon-hover.png) no-repeat center center;
  opacity: 0;
  visibility: hidden; }

.link-2:hover:before {
  opacity: 0;
  visibility: hidden; }

.link-2:hover:after {
  opacity: 1;
  visibility: visible; }

.link-2:hover {
  color: #f492d4; }

.link-3 {
  position: relative;
  padding: 7px 20px;
  margin-top: -7px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .link-3 span {
    position: relative;
    z-index: 1; }

.link-3:before {
  content: "";
  width: 0;
  height: 100%;
  background: #f492d4;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link-3:hover:before {
  width: 100%; }

.btn-2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-2:hover {
  background: #fff;
  color: #c288ff; }

.check-btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.check-btn:hover {
  background: #34BF7F url(../img/icons/check-icon.png) no-repeat center center; }

.socials li a {
  position: relative;
  z-index: 1; }

.socials .facebook,
.socials .twitter,
.socials .youtube,
.socials .instagram,
.socials .google {
  position: relative;
  background: transparent; }

.socials .facebook:before,
.socials .twitter:before,
.socials .youtube:before,
.socials .instagram:before,
.socials .google:before,
.socials .facebook:after,
.socials .twitter:after,
.socials .youtube:after,
.socials .instagram:after,
.socials .google:after {
  content: "";
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.socials .facebook:before,
.socials .twitter:before,
.socials .youtube:before,
.socials .instagram:before,
.socials .google:before {
  opacity: 1;
  visibility: visible; }

.socials .facebook:after,
.socials .twitter:after,
.socials .youtube:after,
.socials .instagram:after,
.socials .google:after {
  opacity: 0;
  visibility: hidden; }

.socials .facebook:hover:before,
.socials .twitter:hover:before,
.socials .youtube:hover:before,
.socials .instagram:hover:before,
.socials .google:hover:before {
  opacity: 0;
  visibility: hidden; }

.socials .facebook:hover:after,
.socials .twitter:hover:after,
.socials .youtube:hover:after,
.socials .instagram:hover:after,
.socials .google:hover:after {
  opacity: 1;
  visibility: visible; }

.socials .facebook:before {
  background: url(../img/icons/face-icon.png) no-repeat center center; }

.socials .twitter:before {
  background: url(../img/icons/twitter-icon.png) no-repeat center center; }

.socials .youtube:before {
  background: url(../img/icons/youtube-icon.png) no-repeat center center; }

.socials .instagram:before {
  background: url(../img/icons/instagram-icon.png) no-repeat center center; }

.socials .google:before {
  background: url(../img/icons/google-icon.png) no-repeat center center; }

.socials .facebook:after {
  background: url(../img/icons/face-icon-hover.png) no-repeat center center; }

.socials .twitter:after {
  background: url(../img/icons/twitter-icon-hover.png) no-repeat center center; }

.socials .youtube:after {
  background: url(../img/icons/youtube-icon-hover.png) no-repeat center center; }

.socials .instagram:after {
  background: url(../img/icons/instagram-icon-hover.png) no-repeat center center; }

.socials .google:after {
  background: url(../img/icons/google-icon-hover.png) no-repeat center center; }
