/* ==================================================
    =Head
===================================================== */
#promo.home-promo {
  height: 545px;
  padding-top: 260px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.site-tagline {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic; }

.site-logo {
  width: 300px;
  height: 146px;
  background-size: 300px; }

.title-3 {
  font-size: 66px; }

.link-2 {
  font-size: 15px;
  letter-spacing: 0.5px; }

.main-nav {
  height: 545px;
  padding-top: 260px; }

.title-1 {
  font-size: 67px; }
  .title-1 span {
    font-size: 26px;
    margin-top: 20px; }

.login {
  padding-bottom: 60px; }
  .login .title-2 {
    margin-bottom: 40px; }

.login-btns {
  zoom: 1;
  width: 680px;
  margin: 0 auto;
  margin-bottom: 10px; }
  .login-btns .face-login,
  .login-btns .twitter-login {
    width: 320px;
    padding: 16px 10px 16px 45px;
    margin-bottom: 50px; }
  .login-btns:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .login-btns .face-login {
    float: left; }
  .login-btns .twitter-login {
    float: right; }
  .login-btns p {
    font-size: 17px; }

.login-form, .lost_reset_password {
  width: 570px;
  padding: 50px 100px;
  margin: 0 auto 50px auto; }
  .login-form input[type="text"],
  .login-form input[type="password"], .lost_reset_password input[type="text"],
  .lost_reset_password input[type="password"] {
    padding: 13px 10px 10px;
    font-size: 15px; }
  .login-form input[type="text"], .lost_reset_password input[type="text"] {
    margin-bottom: 37px; }
  .login-form input[type="password"], .lost_reset_password input[type="password"] {
    margin-bottom: 23px; }

.btn-1 {
  width: 270px; }

.title-2 {
  font-size: 27px; }

.title-4 {
  font-size: 23px;
  margin-bottom: 20px; }

.privacy-content h3, .privacy-content h2, .title-5 {
  font-size: 40px;
  line-height: 59px; }

/* ==================================================
    =Home
===================================================== */
section#instructors {
  padding-top: 65px; }
  section#instructors .title-1 {
    margin-bottom: 50px; }

.instructor {
  margin: 15px; }

blockquote, blockquote p {
  margin-top: 20px;
  line-height: 34px; }

.user-content p {
  font-size: 15px;
  line-height: 29px; }

.user-content ol li p {
  font-size: 16px;
  line-height: 29px; }

.user-content blockquote, .user-content blockquote p {
  margin-top: 20px;
  line-height: 34px; }

.instructor-info {
  zoom: 1; }
  .instructor-info:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .instructor-info article {
    float: left;
    width: 47%; }
  .instructor-info .certificates {
    float: left;
    width: 53%;
    padding-left: 40px; }
    .instructor-info .certificates p {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px; }

.video-blocks {
  position: relative; }
  .video-blocks .block {
    float: left;
    width: 50%;
    padding: 0 20px; }
  .video-blocks .link-3 {
    position: absolute;
    right: 0;
    top: 0;
    float: none; }

.link-3 {
  font-size: 14px; }

.vs-promo p {
  font-size: 26px;
  margin: 0 auto 40px;
  line-height: 39px;
  width: 670px; }

section#join-joga .title-5 {
  margin-bottom: 10px; }

section#join-joga p {
  width: 490px;
  margin-left: auto;
  margin-right: auto; }

section#newsletter form {
  width: 370px;
  margin: 30px auto; }
  section#newsletter form input[type="text"] {
    padding: 17px 10px 15px 57px; }

.check-btn {
  width: 48px;
  height: 49px; }

.block-description {
  float: left;
  width: 50%;
  padding: 50px 30px; }

/* ==================================================
    =Benificije
===================================================== */
#promo {
  padding-top: 280px; }

.left-side,
.right-side {
  float: left;
  width: 50%;
  padding-right: 20px; }

section#benificije .left-side,
section#benificije .right-side {
  float: none;
  width: auto; }

/* ==================================================
    =Instructors
===================================================== */
#promo {
  height: 545px; }

.instructor-preview .info-wrapper {
  zoom: 1;
  float: left; }
  .instructor-preview .info-wrapper:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }

.instructor-preview .info {
  width: 120px;
  padding-left: 0;
  margin-left: 30px;
  padding-top: 25px; }

.instructor-preview .quote {
  clear: none;
  float: right;
  width: 50%;
  max-width: 690px;
  padding-right: 50px; }
  .instructor-preview .quote blockquote, .instructor-preview .quote blockquote p {
    width: auto;
    margin-bottom: 35px; }

.body-wrapper {
  width: 100%; }

/* ==================================================
    =Yoga center
===================================================== */
.about {
  margin: 30px 0;
  zoom: 1; }
  .about:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .about .left-side blockquote, .about .left-side blockquote p {
    margin-top: 0;
    width: auto; }

.article-detailed {
  zoom: 1;
  padding-bottom: 50px; }
  .article-detailed:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .article-detailed .gallery,
  .article-detailed .article-content {
    float: left;
    width: 50%; }
  .article-detailed .article-content {
    padding-left: 30px; }
    .article-detailed .article-content blockquote, .article-detailed .article-content blockquote p {
      margin-top: 0;
      width: auto; }

#main.yc .vs-promo {
  margin-bottom: 70px; }

/* ==================================================
    =Video shop
===================================================== */
#video-offers {
  background: #b6a3b0 url(../img/assets/video-shop-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#popular-videos {
  padding-bottom: 1px; }

/* ==================================================
    =Package
===================================================== */
.title-6 {
  zoom: 1; }
  .title-6:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."; }
  .title-6 .time,
  .title-6 .contains {
    float: right;
    padding-left: 30px; }
  .title-6 .time {
    margin-right: 30px; }

#chosen-package .main-content {
  float: left;
  width: 65%; }

#chosen-package .side-content {
  float: right;
  width: 30%; }

#chosen-package .video-blocks {
  clear: both; }

.price-box {
  padding: 30px 15px 35px 15px; }
  .price-box .btn-3 {
    bottom: -35px; }
  .price-box .added_to_cart {
    bottom: -75px;
    margin-top: -20px; }

/* ==================================================
    =Play video
===================================================== */
#video-screen {
  padding-top: 50px;
  background: #b6a3b0 url(../img/assets/carpet-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #video-screen .side-content {
    zoom: 1; }
    #video-screen .side-content:after {
      display: block;
      visibility: hidden;
      height: 0;
      clear: both;
      content: "."; }
    #video-screen .side-content .info-box {
      width: 49%;
      float: left; }
    #video-screen .side-content .price-box-2 {
      width: 49%;
      float: right; }
      #video-screen .side-content .price-box-2 p {
        float: left;
        padding-right: 15px;
        width: 40%; }
        #video-screen .side-content .price-box-2 p span {
          font-size: 20px; }
      #video-screen .side-content .price-box-2 a {
        float: right;
        width: 53%; }
  #video-screen .title-6 {
    zoom: 1; }
    #video-screen .title-6:after {
      display: block;
      visibility: hidden;
      height: 0;
      clear: both;
      content: "."; }
    #video-screen .title-6 .category {
      float: left; }
    #video-screen .title-6 .time {
      float: right;
      margin: 0; }

/* ==================================================
    =Payment
===================================================== */
#promo.payment {
  padding-top: 190px;
  height: 400px; }

#payment-section form fieldset {
  padding: 35px 70px 20px; }
  #payment-section form fieldset .card {
    position: relative; }
    #payment-section form fieldset .card input[type="text"] {
      padding-right: 70px;
      text-indent: 70px; }
  #payment-section form fieldset .card:after {
    content: "";
    display: block;
    width: 30px;
    height: 20px;
    background: url(../img/icons/card-icon.png) no-repeat center center;
    position: absolute;
    top: 48px;
    right: 20px; }

#payment-section form .cvc {
  float: left;
  width: 120px;
  margin-right: 35px; }

#payment-section form .mmyy {
  float: left;
  width: 173px; }
  #payment-section form .mmyy .month {
    float: left;
    width: 60px; }
  #payment-section form .mmyy .year {
    float: right;
    width: 85px; }

#payment-section form .checkbox {
  clear: both; }

#payment-section .order-box {
  padding: 35px 70px 20px; }

.total-price {
  padding: 40px 70px; }
  .total-price p {
    font-size: 27px !important; }

/* ==================================================
    =TT school
===================================================== */
.side-content.-left-sided {
  float: left;
  width: 35%;
  padding-right: 20px; }

.main-content.-right-sided {
  float: left;
  width: 65%; }

.side-menu {
  border: none; }

.gfield_course_option_wrapper {
  padding: 55px 70px 15px; }

.ginput_container_fileupload {
  padding-left: 37px; }

.gfield_radio li .styledRadio {
  margin-left: 36px; }

/* ==================================================
    =Media Queries
===================================================== */
@media only screen and (min-width: 1024px) {
  blockquote, blockquote p {
    width: 770px;
    margin: 30px auto 60px; }
  .video-blocks .block {
    width: 33.3%; }
  section#joga-info {
    zoom: 1; }
    section#joga-info:after {
      display: block;
      visibility: hidden;
      height: 0;
      clear: both;
      content: "."; }
    section#joga-info .left-side,
    section#joga-info .right-side {
      float: left;
      width: 50%; }
    section#joga-info .right-side {
      padding-left: 50px; } }

.left-side,
.right-side {
  float: left;
  width: 50%;
  padding: 0 20px; }

.full-width-wrapper {
  float: left;
  width: 100%;
  margin: 10px 0 40px; }

section#benificije .big-title {
  margin: 0; }

.big-title {
  font-size: 90px; }

@media only screen and (min-width: 870px) {
  #video-screen .side-content .price-box-2 {
    padding-bottom: 15px; }
    #video-screen .side-content .price-box-2 .btn-5 {
      margin-top: 10px; } }
