.video-bought-share .ssba-wrap{
	margin-bottom: 0;
}
.title-3 {
	font-size: 36px;
	line-height: 50px;
}

@media (min-width: 768px) {
	.video-bought-share {
		float: left;
	}
	.title-3 {
		font-size: 66px;
		line-height: 60px;
	}
}

#page-footer {
	z-index: 5;
	position: relative;
}