@import 'base';

.logged-user {
  margin: 0;
  padding: 0;
  a {
    display: inline-block;
    margin-right: 30px;
    border-bottom: 1px solid transparent;
    @include transition(all, 0.3s, ease-in-out);
  }
  a:hover {
    border-bottom: 1px solid #fff;
  }
  .user {
    margin-right: 50px;
  }
  .cart-main {
    display: inline-block;
  }
  .cart {
    margin-right: 65px;
  }
}
.logged-user:after {
  display: none;
}

/* ==================================================
    =Home
===================================================== */

.container {
	padding: 0;
	width: 1170px;
	margin: 0 auto;
}
.body-wrapper {
	width: 100%;
}
#page-header {
	padding: 40px 0 0 60px;
	.container {
		width: 100%;
	}
}
#menu-trigger {
	display: none;
}
.site-tagline {
	margin-bottom: 40px;
}
.main-nav {
	position: absolute;
	top: 40px;
	right: 40px;
	opacity: 1;
	visibility: visible;
	background: transparent;
	width: auto;
	height: auto;
    padding: 0;
    text-align: right;
    ul {
    	li {
    		margin-left: 40px;
    		display: inline-block;
    		a {
    			font-size: 15px;
		        padding: 11px 22px;
		        @include transition(all, 0.3s, ease-in-out);
			    @include rounded(100px);
    		}
    		a:hover {
    			background: #7a55a0;
    		}
    	}
    }
}
.login {
  padding-bottom: 100px;
}
.login-link {
    padding-top: 2px;
	font-size: 14px;
	margin-bottom: 50px;
}
#promo.home-promo {
    height: 650px;
    padding-top: 340px;
}
.close-login {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 45px;
  height: 45px;
  display: block;
  text-indent: -9999px;
  background: url(../img/icons/close-icon.png) no-repeat center center;
}
.instructor {
  margin: 0 27px 20px 0;
}
.instructor-thumb:before {
  @include transition(all, 0.3s, ease-in-out);
}
.instructor a:hover .instructor-thumb:before {
  opacity: 0;
  visibility: hidden;
}
.instructor:last-child {
  margin-right: 0;
}
.instructor-info {
  article {
    width: 570px;
    padding: 0 30px;
    margin-right: 130px;
  }
  .certificates {
    width: 370px;
    img {
      margin: 0;
    }
    picture {
      margin-right: 12px;
    }
    picture:last-child {
      margin-right: 0;
    }
  }
}
section#video-shop {
  background-position: center center;
}
.video-blocks {
  .title-4 {
    margin-bottom: 25px;
  }
  .block {
    width: 370px;
    margin: 0 30px 20px 0;
    padding: 0;
  }
  .video-blocks-wrapper {
    .block:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
.video-preview {
  a {
    overflow: hidden;
    img {
      -ms-transform: scale(1,1); 
      -webkit-transform: scale(1,1); 
      transform: scale(1,1);
      @include transition(all, 20s, ease-in-out);
    }
  }
  a:hover {
    img {
      -ms-transform: scale(2,2); 
      -webkit-transform: scale(2,2); 
      transform: scale(2,2);
    }
  }
  a:before {
    z-index: 1;
    @include transition(all, 0.3s, ease-in-out);
  }
  a:after {
    z-index: 2;
  }
  a:hover:before {
    opacity: 0;
    visibility: hidden;
  }
}
.vs-promo {
  height: 340px;
  padding: 85px 20px 20px 20px;
}
section#joga-info {
  padding: 60px 0;
  @include cover();
  .title-1 {
    margin-bottom: 50px;
  }
  .left-side {
    width: 570px;
    padding: 0 20px;
    .highlighted {
      width: 300px;
    }
  }
  .right-side {
    width: 400px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
  }
  .highlighted {
    margin-bottom: 50px;
  }
}
section#join-joga {
  padding-top: 105px;
  height: 460px;
  background: url(../img/assets/join-joga.jpg) no-repeat left bottom;
  @include cover();
}
.login-btns { 
  .face-login,
  .twitter-login {
    @include transition(all, 0.3s, ease-in-out);
  }
  .face-login:hover {
    background-color: #2A5AA9;
  }
  .twitter-login:hover {
    background-color: #0881A9;
  }
}
.login-form {
  .btn-1 {
    @include transition(all, 0.3s, ease-in-out);
  }
  .btn-1:hover {
    background-color: #f492d4;
  }
}
.block-description {
  float: left;
  height: 402px;
  width: 770px;
  padding: 0 30px;
  article {
    @include valign();
  }
}

/* ==================================================
    =Benificije
===================================================== */

.left-side,
.right-side {
  width: 570px;
  padding: 0 30px;  
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
section#benificije {
  padding: 100px 0 60px;
  background: #7a55a0 url(../img/assets/namaste.jpg) no-repeat center center;
  background-size: 100%;
  .left-side,
  .right-side {
    background: rgba(115, 54, 95, 0.8);
    width: 570px;
    padding: 30px;  
  }
  .upper {
    background: transparent;
  }
  .left-side {
    float: left;
  }
  .right-side {
    float: right;
  }
}
section#user-warning {
  .left-side,
  .right-side {
    padding: 0 40px;  
  }  
}
.big-title {
  font-size: 260px;
  line-height: 210px;
  margin-bottom: 50px !important;
}

/* ==================================================
    =Instructors
===================================================== */

.instructor-preview {
  .quote {
    float: left;
    width: 690px;
    margin-left: 110px;
  }
}
.instructor-content {
  padding: 70px 0;
  @include cf();
  .class-info {
    float: left;
    padding-left: 30px;
    width: 400px;
  }
  article {
    float: left;
    width: 770px;
    padding: 0 30px;
    p {
      margin-bottom: 40px;
    }
  }
  article.no-class {
    width: 100%;
  }
}

/* ==================================================
    =Yoga center
===================================================== */

.about {
  margin: 50px 0;
}
.article-detailed {
  .gallery {
    width: 570px;
    padding: 0;
    margin-right: 30px;
    text-align: left;
  }
  .article-content {
    width: 570px;
    padding: 0 30px 0 30px;
    background: transparent;
    text-align: left;
  }
}

/* ==================================================
    =Video shop
===================================================== */

.filter-videos {
  @include cf();
  .group {
    float: left;
    width: 170px;
    margin-bottom: 0;
    margin-right: 30px;
    display: inline-block;
  }
  .group.search {
    float: right;
    width: 270px;
  }
}
.number-of-results {
  margin-bottom: 20px;
}
.pagination {
  ul li {
    border: 1px solid transparent;
    @include transition(all, 0.3s, ease-in-out);
  }
  ul li:hover {
    border: 1px solid #fff;
    background: #c288ff;
  }
  .prev,
  .next {
    @include transition(all, 0.3s, ease-in-out)
  }
  .prev:hover,
  .next:hover {
    background-color: #c288ff;
  }
}

/* ==================================================
    =Package
===================================================== */

.video-share {
  position: relative;
  a {
    margin: 15px 0 10px;
  }
  a,
  a:before,
  a:after {
    @include transition(all, 0.3s, ease-in-out);
  }
  a:before {
    opacity: 1;
    visibility: visible;
  }
  a:after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons/face-icon-hover.png) no-repeat center center;
    background-size: 22px;
    opacity: 0;
    visibility: hidden;
  }
  a:hover {
    color: #f492d4;
  }
  a:hover:before {
    opacity: 0;
    visibility: hidden;
  }
  a:hover:after {
    opacity: 1;
    visibility: visible;
  }
}
#chosen-package {
  background: #b6a3b0 url(../img/assets/carpet-2.png) no-repeat center center;
  .main-content {
    float: left;
    width: 770px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .side-content {
    width: 370px;
    margin-bottom: 30px;
    .video-description {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .video-blocks {
    margin-top: 50px;
  }
}
.btn-3,.added_to_cart,
.video-description a {
  @include transition(all, 0.3s, ease-in-out);
}
.btn-3:hover, .added_to_cart:hover {
  background-color: #f492d4;
}
.video-description a:hover {
  color: #f492d4;
} 

/* ==================================================
    =Play video
===================================================== */

#video-screen {
  padding-top: 50px;
  .main-content {
    float: left;
    width: 770px;
    margin-right: 30px;
  }
  .side-content {
    width: 370px;
    float: right;
    .info-box,
    .price-box-2 {
      width: 100%;
    }
    .price-box-2 {
      padding-bottom: 0px;
      padding-top: 15px;
    }
  }
  .video-wrapper {
    margin-bottom: 50px;
  }
}
.title-5.lock {
  background: url(../img/icons/lock-icon.png) no-repeat right 20px;
}
.btn-4,
.btn-5 {
  @include transition(all, 0.3s, ease-in-out);
}
.btn-4:hover,
.btn-5:hover {
  background-color: #f492d4;
}

/* ==================================================
    =Payment
===================================================== */

.btn-6 {
  @include transition(all, 0.3s, ease-in-out);
}
.btn-6:hover {
  background: #f492d4;
}

/* ==================================================
    =registered user
===================================================== */

#user-videos {
  background: url(../img/assets/mountains.jpg) no-repeat center top;
  @include cover(); 
}
.renew {
  @include transition(all, 0.3s, ease-in-out);
}
.renew:hover {
  background: #fff;
  color: #c288ff;
}

/* ==================================================
    =TT school
===================================================== */

.side-content.-left-sided {
  width: 400px;
  padding: 0 30px;
}
.main-content.-right-sided {
  width: 770px;
  padding: 0 30px;
}
#program-description {
    padding: 50px 0 30px;
}
#lr-content-wrapper {
    padding: 100px 0 50px;
}
.side-menu {
  li a span {
    position: relative;
  }
  li a span:after {
    content: "";
    width: 9px;
    height: 12px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -30px;
    background: url(../img/icons/side-menu-arr.png) no-repeat center center;
    background-size: 9px;
    opacity: 0;
    @include transition(all, 0.3s, ease-in-out);
  }
  li a:hover span:after {
    right: -50px;
    opacity: 1;
  }
}

/* ==================================================
    =Footer
===================================================*/

section#newsletter {
  
  padding: 100px 0 50px;
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .highlighted {
    margin-bottom: 25px;
  }
   form {
    margin-bottom: 100px;
  }
}
.footer-content {
  @include cf();
  margin-bottom: 65px;
  .block {
    display: inline-block;
    width: 33%;
    .socials li a {
      overflow: hidden;
      text-indent: 9999px;
    }
  }
  .block:nth-child(1) {
      text-align: left;
  }
  .block:nth-child(2) {
      text-align: center;
      padding-top: 55px;
      position: relative;
      p {
        font-size: 17px !important;
      }
  }
  .block:nth-child(2):before {
    content: "";
    width: 449px;
    height: 405px;
    display: block;
    background: url(../img/assets/footer-decor.png) no-repeat center center;
    position: absolute;
    top: -86px;
    left: -18px;
  }
  .block:nth-child(3) {
      text-align: right;
  }
}
.link-4 {
  font-size: 16px !important;
  position: relative;
  z-index: 1;
  @include transition(all, 0.3s, ease-in-out);
}
.link-4:hover {
  color: #f492d4;
}
.disclaimer {
  @include cf();
  p {
    float: left;
    text-align: left;
  }
  nav {
    float: right;
    ul {
      margin-top: 0;
      li {
        display: inline-block;
        a {
          font-size: 12px;
          border-bottom: 0;
          border-right: 1px #fff solid;
          padding-right: 10px;
          margin-right: 10px;
          padding-bottom: 0;
          @include transition(all, 0.3s, ease-in-out);
        }
        a:hover {
          color: #f492d4;
        }
      }
      li:last-child {
        a {
          padding-right: 0;
          margin-right: 0;
          border-right: 0;
        }
      }
    }
  }
}
.login-link {
  background: transparent;
  position: relative;
  @include transition(all, 0.3s, ease-in-out);
}
.login-link:before,
.login-link:after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
  @include transition(all, 0.3s, ease-in-out);
}
.login-link:before {
  opacity: 1;
  visibility: visible;
  background: url(../img/icons/user-icon.png) no-repeat center center;
}
.login-link:after {
  opacity: 0;
  visibility: hidden;
  background: url(../img/icons/user-icon-hover.png) no-repeat center center;
  @include transition(all, 0.3s, ease-in-out);
}
.login-link:hover {
  color: #f492d4;
}
.login-link:hover:before {
  opacity: 0;
  visibility: hidden;
}
.login-link:hover:after {
  opacity: 1;
  visibility: visible;
}
.link-2 {
  position: relative;
  background: transparent;
  @include transition(all, 0.3s, ease-in-out);
}
.link-2:before,
.link-2:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  @include transition(all, 0.3s, ease-in-out);
}
.link-2:before {
  background: url(../img/icons/play-icon.png) no-repeat center center;
  opacity: 1;
  visibility: visible;
}
.link-2:after {
  background: url(../img/icons/play-icon-hover.png) no-repeat center center;
  opacity: 0;
  visibility: hidden;
}
.link-2:hover:before {
  opacity: 0;
  visibility: hidden;
}
.link-2:hover:after {
  opacity: 1;
  visibility: visible;
}
.link-2:hover {
  color: #f492d4;
}
.link-3 {
  position: relative;
  padding: 7px 20px;
  margin-top: -7px;
  @include transition(all, 0.3s, ease-in-out);
  span {
    position: relative;
    z-index: 1;
  }
}
.link-3:before {
  content: "";
  width: 0;
  height: 100%;
  background: #f492d4;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  @include rounded(100px);
  @include transition(all, 0.3s, ease-in-out);
}
.link-3:hover:before {
  width: 100%;
}
.btn-2 {
  @include transition(all, 0.3s, ease-in-out);
}
.btn-2:hover {
  background: #fff;
  color: #c288ff;
}
.check-btn {
  @include transition(all, 0.3s, ease-in-out);
}
.check-btn:hover {
  background: #34BF7F url(../img/icons/check-icon.png) no-repeat center center;;
}
.socials {
  li a {
    position: relative;
    z-index: 1;
  }
  .facebook,
  .twitter,
  .youtube,
  .instagram,
  .google {
    position: relative;
    background: transparent;
  }
  .facebook:before,
  .twitter:before,
  .youtube:before,
  .instagram:before,
  .google:before,
  .facebook:after,
  .twitter:after,
  .youtube:after,
  .instagram:after,
  .google:after {
    content: "";
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(all, 0.3s, ease-in-out);
  }
  .facebook:before,
  .twitter:before,
  .youtube:before,
  .instagram:before,
  .google:before {
    opacity: 1;
    visibility: visible;
  }
  .facebook:after,
  .twitter:after,
  .youtube:after,
  .instagram:after,
  .google:after {
    opacity: 0;
    visibility: hidden;
  }
  .facebook:hover:before,
  .twitter:hover:before,
  .youtube:hover:before,
  .instagram:hover:before,
  .google:hover:before {
    opacity: 0;
    visibility: hidden;
  }
  .facebook:hover:after,
  .twitter:hover:after,
  .youtube:hover:after,
  .instagram:hover:after,
  .google:hover:after {
    opacity: 1;
    visibility: visible;
  }
  .facebook:before {
    background: url(../img/icons/face-icon.png) no-repeat center center;
  }
  .twitter:before {
    background: url(../img/icons/twitter-icon.png) no-repeat center center;
  }
  .youtube:before {
    background: url(../img/icons/youtube-icon.png) no-repeat center center;
  }
  .instagram:before {
    background: url(../img/icons/instagram-icon.png) no-repeat center center;
  }
  .google:before {
    background: url(../img/icons/google-icon.png) no-repeat center center;
  }

  .facebook:after {
    background: url(../img/icons/face-icon-hover.png) no-repeat center center;
  }
  .twitter:after {
    background: url(../img/icons/twitter-icon-hover.png) no-repeat center center;
  }
  .youtube:after {
    background: url(../img/icons/youtube-icon-hover.png) no-repeat center center;
  }
  .instagram:after {
    background: url(../img/icons/instagram-icon-hover.png) no-repeat center center;
  }
  .google:after {
    background: url(../img/icons/google-icon-hover.png) no-repeat center center;
  }
}