/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================================================
    =SASS CSS
===================================================== */

/* ==================================================
    =Styles
===================================================== */

$mainfont:    PT Serif, serif;
$primary-color: #fff;
$secondary-color: #555;
$baseline: 20px;


body {
  font: 100% $mainfont;
  color: $primary-color;
}

/* ==================================================
    =Mixins
===================================================== */

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition-property, $transition-time, $method) {
		-webkit-transition: $transition-property $transition-time $method;
		-moz-transition: $transition-property $transition-time $method;
		-ms-transition: $transition-property $transition-time $method;
		-o-transition: $transition-property $transition-time $method;
		transition: $transition-property $transition-time $method;
}
@mixin no-transition {
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}
@mixin ti {
    text-indent:-9999px;
    overflow: hidden;
}
@mixin cf {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}
@mixin cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin valign {
	position: relative;
	top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin halign {
	position: relative;
	left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@mixin no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-text-size-adjust:none; 
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    user-select: none;
}
@mixin calc($property, $expression) { 
	#{$property}: -webkit-calc(#{$expression}); 
	#{$property}: calc(#{$expression}); 
} 

/* ==================================================
    =General classes for usage
===================================================== */

.left { text-align:left !important } .center { text-align:center !important } .right { text-align:right !important }
.alignleft { float:left } .aligncenter { margin:0 auto } .alignright { float:right }
.show { display:block!important } .hide { display:none!important }
.cf:before, .cf:after, 
.container:before, .container:after, .widget:before, .widget:after, form ol > li:before, form ol > li:after
  { content: "\0020"; display: block; height: 0; visibility: hidden; }
.cf:after, .clear, 
.container:after, .widget:after, form ol > li:after
  { clear: both; }
.cf, .container, .widget, form ol > li
  { zoom: 1; }

/* Defined in html element when using rem unit */
html { font:normal 62.5% $mainfont; color:#444; background-color:#fff; }

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* Buggy in IE7, avoid if developing for IE7 */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* User generated  */
.user-content ul {
  list-style:disc;
  margin-left:24px;
}
.user-content ul ul { margin-left:20px; margin-bottom:0; }
.user-content ul li{ margin-bottom:0; }
.user-content ol {
  margin-left:24px;
  list-style:decimal;
}
.user-content ol ol { list-style:lower-latin; margin-bottom:0; }
.user-content ul ul, .view ol ol { margin-bottom:0 }
.user-content li li { font-size:1em }

/* Table */
table {
  width:100%;
  border:none;
  border-collapse: collapse;
  border-spacing: 0;
}

table td, table th {
  vertical-align:middle;
}

/* Normal form */
.normal-form input[type="text"],
.normal-form input[type="password"],
.normal-form input[type="datetime"],
.normal-form input[type="datetime-local"],
.normal-form input[type="date"],
.normal-form input[type="month"],
.normal-form input[type="time"],
.normal-form input[type="week"],
.normal-form input[type="number"],
.normal-form input[type="email"],
.normal-form input[type="url"],
.normal-form input[type="search"],
.normal-form input[type="tel"],
.normal-form input[type="color"],
.normal-form textarea,
.normal-form select {
    -webkit-appearance: none; // removes styling on iOS devices
}

.normal-form textarea {
	overflow: auto;
}

.normal-form input[type="text"]:focus,
.normal-form input[type="password"]:focus,
.normal-form input[type="datetime"]:focus,
.normal-form input[type="datetime-local"]:focus,
.normal-form input[type="date"]:focus,
.normal-form input[type="month"]:focus,
.normal-form input[type="time"]:focus,
.normal-form input[type="week"]:focus,
.normal-form input[type="number"]:focus,
.normal-form input[type="email"]:focus,
.normal-form input[type="url"]:focus,
.normal-form input[type="search"]:focus,
.normal-form input[type="tel"]:focus,
.normal-form input[type="color"]:focus,
.normal-form textarea:focus,
.normal-form select:focus {
	outline: none;
}

/* Button styling */
button {
    display:inline-block;
    padding:10px 20px;
    margin:0 10px 0 0;
    font:bold 14px/20px $mainfont;
    color:#fff;
    border:none;
    text-align:center;

    overflow:visible;
    cursor:pointer;
}

/* ==================================================
    =Typography
===================================================== */

h1, h2, h3, h4, h5, h6, p, table, .user-content ul,  .user-content ol, .user-content dl { margin-bottom: $baseline; }
h1, h2, h3, h4, h5, h6 { margin-bottom:$baseline / 2; }

h1 { font:400 32px/1.3 $mainfont; }
h2 { font:400 24px/1.2 $mainfont; }
h3 { font:400 22px/1.2 $mainfont; }
h4 { font:400 20px/1.2 $mainfont; }
h5 { font:400 16px/1.2 $mainfont; }
h6 { font:400 14px/1.2 $mainfont; }

a         { text-decoration:none }

/* Styling */
strong      { font-weight:bold; }
em        { font-style:italic; }
sup       { vertical-align:text-top; font-size:75%; }
sub       { vertical-align:bottom; font-size:75%; }
blockquote    { font-style:italic; }

/* User generated  */
.user-content ul {
  list-style:disc;
  margin-left:24px;
}
.user-content ul ul { margin-left:20px; margin-bottom:0; }
.user-content ul li{ margin-bottom:0; }
.user-content ol {
  margin-left:24px;
  list-style:decimal;
}
.user-content ol ol { list-style:lower-latin; margin-bottom:0; }
.user-content ul ul, .view ol ol { margin-bottom:0 }
.user-content li li { font-size:1em }

/* Table */
table {
  width:100%;
  border:none;
  border-collapse: collapse;
  border-spacing: 0;
}

table td, table th {
  vertical-align:middle;
}

/* Normal form */
.normal-form input[type="text"],
.normal-form input[type="password"],
.normal-form input[type="datetime"],
.normal-form input[type="datetime-local"],
.normal-form input[type="date"],
.normal-form input[type="month"],
.normal-form input[type="time"],
.normal-form input[type="week"],
.normal-form input[type="number"],
.normal-form input[type="email"],
.normal-form input[type="url"],
.normal-form input[type="search"],
.normal-form input[type="tel"],
.normal-form input[type="color"],
.normal-form textarea,
.normal-form select {
    -webkit-appearance: none; // removes styling on iOS devices
}

.normal-form input[type="text"]:focus,
.normal-form input[type="password"]:focus,
.normal-form input[type="datetime"]:focus,
.normal-form input[type="datetime-local"]:focus,
.normal-form input[type="date"]:focus,
.normal-form input[type="month"]:focus,
.normal-form input[type="time"]:focus,
.normal-form input[type="week"]:focus,
.normal-form input[type="number"]:focus,
.normal-form input[type="email"]:focus,
.normal-form input[type="url"]:focus,
.normal-form input[type="search"]:focus,
.normal-form input[type="tel"]:focus,
.normal-form input[type="color"]:focus,
.normal-form textarea:focus,
.normal-form select:focus {
	outline: none;
}


/* ==================================================
    =home
===================================================== */

/*Head*/

#menu-trigger {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 10;
}
#menu-trigger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu-trigger.open span {
  background: #f492d4;
}
#menu-trigger span:nth-child(1) {
  top: 0px;
}
#menu-trigger span:nth-child(2),#menu-trigger span:nth-child(3) {
  top: 18px;
}
#menu-trigger span:nth-child(4) {
  top: 36px;
}
#menu-trigger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#menu-trigger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu-trigger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu-trigger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.login-link {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
  color: #fff;
  font-size: 17px;
  margin-bottom: 30px;
  display: inline-block;
  padding-right: 30px;
  background: url(../img/icons/user-icon.png) no-repeat right center;
  text-indent: 25px;
}
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: #6d415f;
  padding-top: 180px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  @include transition(all, 0.3s, ease-in-out);
  ul {
    li {
      a {
        display: inline-block;
        font-style: italic;
        font-weight: 100;
        color: #fff;
        font-size: 21px;
        margin-bottom: 20px;
      }
    }
  }
}
.main-nav.active {
  opacity: 1;
  visibility: visible;
}
.title-1 {
  font-style: italic;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;
  span {
    font-weight: 100;
    display: block;
    font-size: 22px;
    font-style: normal;
    line-height: 34px;
    margin-top: 15px;
  }
}
.close-login {
  display: none;
}
.face-login,
.twitter-login {
  display: block;
  width: 270px;
  color: #fff;
  font-weight: 100;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px 30px 10px 50px;
  @include rounded(100px);
}
.face-login {
  background: #5782c8 url(../img/icons/face-icon-2.png) no-repeat 25px center;
}
.twitter-login {
  background: #25b6e6 url(../img/icons/twitter-icon-2.png) no-repeat 25px center;
}
.login.active {
  opacity: 1;
}
.login {
  opacity: 0;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1; 
  width: 100%;
  text-align: center;
  background: #6d415f url(../img/high-def/logo.png) no-repeat center 30px;
  background-size: 260px;
  padding-top: 200px;
  padding-bottom: 100px;
  .title-1 {
    margin-bottom: 30px;
  }
  .face-login,
  .twitter-login {
    margin-bottom: 25px;
  }
  .title-2 {
    margin-bottom: 30px;
  }
}
.login-btns {
  margin-bottom: 30px;
  p {
    font-weight: 100;
    font-size: 16px;
  }
}
.login-form, .lost_reset_password {
  @include rounded(10px);
  border: 1px solid #fff;
  padding: 30px;
  margin-bottom: 30px;
  .group {
    @include cf();
    text-align: center;
  }
  .styledCheckbox {
    float: left;
    margin-right: 15px;
  }
  .group.checkbox {
    text-align: left;
    margin-bottom: 20px;
  }
  label {
    font-size: 12px;
    font-style: italic;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    font-family: 'Merriweather';
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    outline: none;
    border: none;
    color: #6d415f;
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    @include rounded(100px);
  }
  ::-webkit-input-placeholder {
     color: #6d415f;
  }

  :-moz-placeholder { 
     color: #6d415f;  
  }

  ::-moz-placeholder {  
     color: #6d415f;  
  }

  :-ms-input-placeholder {  
     color: #6d415f;  
  }
  .btn-1 {
    margin-bottom: 30px;
  }
}
.btn-1 {
  width: 230px;
  background: #7a55a0;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-size: 16px;
  outline: none;
  padding: 13px 10px;
  @include rounded(100px);
}
.link-1 {
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  color: #fff;
  text-decoration: underline;
}
.title-2 {
  font-weight: 900;
  color: #fff;
  font-style: italic;
  font-size: 25px;
  a {
    color: #fff;
  }
  span {
    color: #f492d4;
  }
}
.socials {
  li {
    display: inline-block;
    margin: 0 5px;
    a {
      width: 44px;
      height: 44px;
      display: block;
      text-indent: -9999px;
    }
  }
  .facebook {
    background: url(../img/icons/face-icon.png) no-repeat center center;
  }
  .twitter {
    background: url(../img/icons/twitter-icon.png) no-repeat center center;
  }
  .youtube {
    background: url(../img/icons/youtube-icon.png) no-repeat center center;
  }
  .instagram {
    background: url(../img/icons/instagram-icon.png) no-repeat center center;
  }
  .google {
    background: url(../img/icons/google-icon.png) no-repeat center center;
  }
}
#promo {
  text-align: center;
  height: 550px;
  padding-top: 210px;
  .title-3 {
    margin-bottom: 30px;
  }
}
#promo.home-promo {
  background: url(../img/assets/top-photo.jpg) no-repeat center top;
  text-align: center;
  height: 700px;
}
.site-logo {
  width: 260px;
  height: 133px;
  display: block;
  text-indent: -9999px;
  background: url(../img/assets/logo.png) no-repeat center center;
  background-size: 260px; 
  position: relative;
  z-index: 10;
  a {
    display: block;
    width: 260px;
    height: 133px;
  }
}
.site-tagline {
  display: none;
}
#page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // padding: 20px 0 0 20px;
  z-index: 20;
  .container {
    padding: 0;
  }
}
.logged-user {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  a {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    span {
      position: relative;
    }
  }
  .user {
    text-transform: uppercase;
  }
  .user span:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/icons/user-icon.png) no-repeat center center;
    position: absolute;
    top: 4px;
    right: -30px;
  }
  .cart {
    display: inline-block;
    position: relative;
  }
  .cart:after {
    content: "";
    width: 26px;
    height: 26px;
    display: block;
    background: url(../img/icons/cart-icon.png) no-repeat center center;
    position: absolute;
    top: 1px;
    right: -40px;
  }
}
.logged-user:after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

/*content*/

body {
  background: #6d415f;
  overflow-x: hidden;
  width: 100%;
}
.body-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  @include transition(all, 0.5s, ease-in-out);
}
.body-wrapper.login-active {
  -ms-transform: translate(-100%,0); 
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
}
.container {
  padding: 0 20px;
  z-index: 10;
}
.link-2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 19px;
  padding-top: 70px;
  background: url(../img/icons/play-icon.png) no-repeat center top;
  display: inline-block;
  font-weight: 900;
  font-style: italic;
}
.title-3 {
  font-style: italic;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;
  span {
    font-weight: 100;
    display: block;
    font-size: 26px;
    line-height: 34px;
    margin-top: 18px;
  }
  .uppercase {
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
}
section#instructors {
  padding: 170px 0 50px;
  background: #b6a3b0 url(../img/assets/instructor-bg.jpg) no-repeat center top;
  background-size: 100%;
  .title-1 {
    text-align: center;
    margin-bottom: 20px;  
  }
}
.instructors-wrapper {
  text-align: center;
}
.instructor {
  position: relative;
  width: 170px;
  height: 250px;
  display: inline-block;
  margin: 5px;
  a {
    display: block;
    width: 170px;
    height: 250px;
    color: #fff;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .certificate {
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    margin-top: 13px;
  }
}
.instructor-thumb {
  width: 170px;
  height: 250px;
  position: relative;
}
.instructor-thumb:before {
  content: "";
  width: 170px;
  height: 250px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(122, 85, 160, 0.5);
  z-index: 1;
}
.instructor-name {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 25px;
  text-align: left;
  p {
    font-size: 27px;
    font-weight: 100;
    margin: 0;
    line-height: 28px;
    span {
      font-weight: 900;
      font-style: italic;
    }
  }
}
blockquote, blockquote p {
  margin: 40px 0 30px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  position: relative;
  span {
    display: block;
  }
}
.user-content {
  .notice-box {
    font-size: 16px;
    position: relative;
    font-weight: 100;
    border-top: 1px solid #fff;
    padding-top: 20px;
    li {
      padding-left: 15px;
      margin-bottom: 2px;
    }
    li:before {
      display: none;
    }
    ul {
      list-style: none;
    }
  }

  p {
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
    span {
      text-decoration: underline;    
    }
    
  }
  blockquote, blockquote p {
      margin: 40px 0 30px;
      font-size: 25px;
      font-weight: 900;
      text-align: center;
      position: relative;
      span {
        display: block;
      }
  }
  a {
    color: #fff;
  }
  h1,h2,h3,
  h4,h5,h6 {
    font-weight: 600;
  }
  ol { 
    list-style: none;
    margin-left: 40px;
    li {
      font-weight: 900;
      font-size: 16px;
      position: relative;
      counter-increment: item;
      margin-bottom: 20px;
      padding-left: 15px;
      font-weight: 100;
    }
    li:before {
      content: counter(item);
      position: absolute;
      left: -40px;
      font-style: italic;
      top: 0;
      color: #f492d4;
      font-size: 25px;
      font-weight: 600;
    }
  }
   ul { 
    list-style: none;
    margin-left: 10px;
    li {
      font-weight: 900;
      font-size: 16px;
      position: relative;
      counter-increment: item;
      margin-bottom: 20px;
      padding-left: 15px;
      font-weight: 100;
    }
    li:before {
      content: "";
      width: 5px;
      height: 5px;
      @include rounded(100px);
      display: block;
      background: #f492d4; 
      position: absolute;
      left: -10px;
      top: 8px;
    }
  }
}
.highlighted-ol {
  list-style: none;
  margin-left: 40px;
  li {
    font-weight: 900;
    font-size: 41px !important;
    font-style: italic;
    position: relative;
    counter-increment: item;
    margin-bottom: 20px;
    padding-left: 15px;
    p {
      font-style: normal;
      font-size: 16px !important;
      margin-bottom: 0;
      line-height: 25px;
      font-weight: 100;
    }
  }
  li:before {
    font-size: 41px !important;
    color: #fff !important;
    content: counter(item) !important;
    position: absolute !important;
    left: -40px !important;
    top: -4px !important;
  }
}
.certificates {
  p {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  img {
    width: 100px;
    margin: 5px;
    height: auto;
    display: inline-block;
  }
}
section#video-shop {
  padding-top: 38px;
  background: #b6a3b0 url(../img/assets/videoshop-bg.jpg) no-repeat center top;
  background-size: 100%;
  padding-bottom: 70px;
  .title-1 {
    text-align: center;
    margin-bottom: 30px;
  }
}
.title-4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
}
.video-blocks {
  @include cf();
  margin-bottom: 50px;
  .block {
    width: 100%;
    max-width: 370px;
    margin: 0 auto 20px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .link-3 {
    float: right;
  }
  .title-4 {
    margin-bottom: 20px;
  }
}
.video-preview a {
  position: relative;
  display: block;
}
.video-preview a:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(125, 85, 160, 0.5);
}
.video-preview a:after {
  content: "";
  width: 45px;
  height: 44px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;
  background: url(../img/icons/play-icon.png) no-repeat center center;
}
.video-info {
  background: #c288ff;
  padding: 20px 15px;
  position: relative;
  min-height: 115px;
  a,
  p {
    color: #fff;
    font-style: italic;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    span {
      text-transform: uppercase;
      font-size: 12px;
      font-style: normal;
      display: block;
      font-weight: 100;
      margin-bottom: 2px;
    }
  }
  .name {
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
  }
  .time {
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    position: absolute;
    background: url(../img/icons/clock-icon.png) no-repeat left center;
    right: 15px;
    bottom: 20px;
    padding-left: 23px;
  }
}
.link-3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
}
.vs-promo {
  padding: 30px 15px;
  text-align: center;
  background: url(../img/assets/vs-promo.jpg) no-repeat center center;
  p {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 35px;
  }
}
.btn-2 {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  padding: 11px 22px;
  color: #fff;
  border: 1px solid #fff;
  line-height: 19px;
  @include rounded(100px);
}
section#joga-info {
  background: #d57fb9 url(../img/assets/joga-info.jpg) no-repeat center bottom;
  @include cover();
  padding: 155px 0 50px 0;
  .title-1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .highlighted {
    margin-bottom: 30px;
  }
  .left-side {
    .btn-2 {
      margin: 30px 0;
    }
  }
}
.highlighted {
  font-weight: 900;
  color: #fff;
  font-style: italic;
  font-size: 26px;
  line-height: 35px;
}
.block-description {
  padding: 50px 15px;
  background: url(../img/assets/block-description.jpg) no-repeat center center;
  @include cover();
  .highlighted {
    margin-bottom: 30px;
  }
}

/* ==================================================
    =Benificije
===================================================== */

body.benificije .main-nav {
  height: 550px;
}
#promo.home-benificije {
  background: url(../img/assets/benificije-top.jpg) no-repeat center top;
}
section#benificije {
  padding: 60px 0;
  background: #7a55a0;
  .user-content {
    ol {
      margin-bottom: 50px;
      li {
        margin-bottom: 40px;
        padding-left: 25px;
      }
      li:before {
        color: #f492d4;
        font-size: 41px !important;
      }
    }
  }
  .big-title {
    text-align: center;
    margin: 20px 0;
  }
  .highlighted {
    margin-bottom: 50px;
  }
}
.big-title {
  font-weight: 900;
  color: #f492d4;
  font-style: italic;
  font-size: 61px;
}
section#user-warning {
  background: url(../img/assets/user-warning.jpg) no-repeat center center fixed;
  padding: 50px 0;
  .highlighted {
    margin-bottom: 50px;
  }
  @include cover();
}

/* ==================================================
    =Instructors
===================================================== */

body.benificije .main-nav {
  height: 550px;
}
#promo.home-instructors {
  background: url(../img/assets/instruktori-top.jpg) no-repeat center top;
}
#instruktori {
  background: #a86492;
}
.instructor-content {
  display: none;
  padding: 50px 0;
}
.class-info {
  margin-bottom: 30px;
  h1, h2, h3,
  h4, h5, h6 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.instructor-preview {
  padding: 50px 0;
  @include cf();
  .thumb {
    display: inline-block;
    float: left;
    position: relative;
    width: 45%;
    max-width: 170px;
    margin-bottom: 30px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  .thumb:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(122, 85, 160, 0.5);
  }
  .info {
    float: left;
    width: 50%;
    padding-left: 30px;
    p {
      font-size: 27px;
      font-weight: 100;
      margin-bottom: 30px;
      line-height: 28px;
      span {
        display: block;
        font-weight: 900;
        font-style: italic;
      }
    }
    img {
      width: 100px;
    }
  }
  .quote {
    clear: both;
    blockquote, blockquote p {
      text-align: left;
    }
  }
}
.instructor-preview.instructor-1 {
  background: url(../img/assets/instructor-1.jpg) no-repeat center center;
  @include cover();
}
.instructor-preview.instructor-2 {
  background: url(../img/assets/instructor-2.jpg) no-repeat center center;
  @include cover();
}
.instructor-preview.instructor-3 {
  background: url(../img/assets/instructor-3.jpg) no-repeat center center;
  @include cover();
}
.instructor-preview.instructor-4 {
  background: url(../img/assets/instructor-4.jpg) no-repeat center center;
  @include cover();
}
.instructor-preview.instructor-5 {
  background: url(../img/assets/instructor-5.jpg) no-repeat center center;
  @include cover();
}
.instructor-preview.instructor-6 {
  background: url(../img/assets/instructor-6.jpg) no-repeat center center;
  @include cover();
}
.open-content {
  width: 32px;
  height: 32px;
  display: block;
  background: url(../img/icons/open-icon.png) no-repeat center center;
  text-indent: -9999px;
}
.close-content {
  width: 32px;
  height: 32px;
  display: block;
  background: url(../img/icons/close-icon2.png) no-repeat center center;
  text-indent: -9999px;
}
#main {
  position: relative;
}

/* ==================================================
    =Yoga centar
===================================================== */

#promo.yoga-center {
  background: url(../img/assets/yoga-centar-bg.jpg) no-repeat center top;
}
#main.yc {
  background: #b6a3b0;
  padding: 10px 0;
  .vs-promo {
    margin-bottom: 30px;
  }
}
.about {
  blockquote, blockquote p {
    text-align: left;
  }
}
.article-detailed {
  .gallery {
    text-align: center; 
    .thumb {
      display: inline-block;
      width: 45%;
      margin: 0 1% 2% 1%;
      position: relative;
      a:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(117, 70, 102, 0.5);
      }
      a:after {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 50%;
        margin-left: -25px;
        background: url(../img/icons/camera-icon.png) no-repeat center center;
        background-size: 50px;
      }
      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }
}
.article-content {
  blockquote, blockquote p {
    text-align: left;
  }
}
.pagination {
  text-align: center;
  .prev,
  .next {
    width: 29px;
    height: 29px;
    display: inline-block;
    border: 1px solid #fff;
    text-indent: -9999px;
    position: relative;
    top: -8px;
    @include rounded(100px);
  }
  .prev {
    background: url(../img/icons/arr-left.png) no-repeat 9px center;
    margin-right: 15px;
  }
  .next {
    background: url(../img/icons/arr-right.png) no-repeat 11px center;
    margin-left: 15px;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
      width: 29px;
      height: 29px;
      border: 1px solid transparent;
      margin: 0 7px;
      padding-top: 3px;
      @include rounded(100px);
      a {
        display: block;
        font-style: italic;
        color: #fff;
        font-size: 14px;
      }
    }
    li.active {
      border: 1px solid #fff;
    }
  }
}

/* ==================================================
    =Video shop
===================================================== */

#promo.video-shop {
  background: url(../img/assets/yoga-video-shop.jpg) no-repeat center top;
  @include cover();
}
#video-offers {
  padding: 0  0 50px 0;
  background: #b6a3b0;
}
#popular-videos {
  padding: 50px 0 1px 0;
  background: #aa98a4;
  .title-5 {
    margin-bottom: 50px;
    text-align: center;
  }
}
.filter-videos {
  background: #aa98a4;
  padding: 30px 0;
  margin-bottom: 50px;
  input[type=text], {
    width: 100%;
    font-size: 16px;
    font-weight: 900;
    color: #a86492;
    font-family: 'PT Serif';
    outline: none;
    border: none;
    padding: 10px 50px 10px 25px;
    @include rounded(100px);
  }
  button {
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background: url(../img/icons/lupa-icon.png) no-repeat center center;
  }
  .group {
    position: relative;
    margin-bottom: 20px;
  }
  .group:last-child {
    margin-bottom: 0;
  }
}
.number-of-results {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  p {
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
    }
  }
}

/* ==================================================
    =Privacy
===================================================== */

#promo.privacy {
  background: url(../img/assets/privacy-bg.jpg) no-repeat center top;
  @include cover();
}
#privacy {
  padding: 50px 0;
  background: #7a55a0;
  .user-content {
    p {
      margin-bottom: 50px;
    }
    ol,ul {
      margin-bottom: 50px;
    }
  }
  .privacy-content h3, .privacy-content h2, .title-5 {
    margin-bottom: 30px;
  }
  .container {
    max-width: 570px;
    margin: 0 auto;
  }
}

/* ==================================================
    =Package
===================================================== */

#promo.privacy {
  background: url(../img/assets/package-top.jpg) no-repeat center top;
  @include cover();
}
#chosen-package {
  padding: 50px 0 1px;
  background: #b6a3b0;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  // padding-top: 25px;
  height: 0;
  margin-bottom: 10px;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    margin: 0 auto;
    @include halign();
  }
}
.video-share {
  margin: 20px 0;
  a {
    color: #fff;
    display: block;
    font-size: 17px;
    font-style: italic;
    position: relative;
    padding-left: 35px;
  }  
  a:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons/face-icon.png) no-repeat center center;
    background-size: 22px;
  }
}
.title-6 {
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  .category {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    display: block;
    line-height: 18px;
    font-style: normal;
  }
  .time,
  .contains {
    font-weight: 100;
    font-size: 14px;
    font-style: normal;
    padding-left: 25px;
    display: block;
    line-height: 18px;
    margin: 10px 0;
  }
  .time {
    background: url(../img/icons/clock-icon.png) no-repeat left center;
  }
  .contains {
    background: url(../img/icons/play-icon.png) no-repeat left center;
    background-size: 17px;
  }
}
.main-content {
  margin-bottom: 50px;
  .title-6 {
    margin-bottom: 50px;
  }
}
.price-box {
  text-align: center;
  background: #7a55a0;
  padding: 20px 15px 25px 15px;
  margin-bottom: 50px;
  position: relative;
  p {
    font-style: italic;
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 0;
    span {
      display: block;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .btn-3, .added_to_cart  {
    position: absolute;
    display: inline-block;
    bottom: -30px;
    @include valign();
  }
}
.btn-3 {
  background: #a86492 url(../img/icons/box-icon.png) no-repeat 15px center;
  color: #fff;
  text-align: center;
  padding: 10px 30px 10px 50px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 16px;
  @include rounded(100px);
}
.added_to_cart {
  background: #a86492;
  color: #fff;
  text-align: center;
  padding: 10px 30px 10px 30px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  @include rounded(100px);
}
.video-description {
  text-align: center;
  padding: 40px 20px; 
  background: #a86492;
  margin-bottom: 50px;
  p {
    margin-bottom: 35px;
    font-size: 15px;
    font-style: italic;
    line-height: 27px;
  }
  .avatar {
    p {
      width: auto;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 20px;
      font-style: normal;
    }
  }
  .thumb-avatar {
    width: 85px;
    height: 85px;
    overflow: hidden;
    font-style: normal;
    margin: 0 auto 20px auto;
    @include rounded(100px);
  }
  .thumb {
    margin-bottom: 40px;
  }
  .cert-image img {
    max-width: 100px;
    height: auto;
  }
  a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
  }
}
.name {
  font-size: 27px;
  font-weight: 100;
  margin-bottom: 25px;
  line-height: 28px;
  font-style: normal;
  span {
    font-weight: 900;
    font-style: italic;
  }
}

/* ==================================================
    =Play video
===================================================== */

#video-screen {
  padding: 30px 0 50px;
  background: #b6a3b0 ;
  .title-6 {
    margin-bottom: 10px;
  }
}
#promo.play-video {
  background: url(../img/assets/instruktori-top.jpg) no-repeat center top;
  @include cover();
}
.title-5.lock {
  padding-right: 30px;
  background: url(../img/icons/lock-icon.png) no-repeat right 10px;
}
.alert.lock {
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
  }
}
.info-box {
  text-align: center;
  background: #aa98a4;
  padding: 20px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
  p {
    font-style: italic;
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 0;
    span {
      display: block;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .btn-4  {
    position: absolute;
    bottom: -15px;
    @include valign();
  }
}
.btn-4 {
  background: #a86492;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  font-style: italic;
  font-size: 16px;
  @include rounded(100px);
}
.price-box-2 {
  background: #7a55a0;
  padding: 20px;
  p {
    font-weight: 100;
    font-size: 17px;
    font-style: italic;
    span {
      font-weight: 600;
      display: block;
      font-size: 25px;
      font-weight: 600;
    }
  }
}
.btn-5 {
  background: #a86492 url(../img/icons/camera-icon.png) no-repeat 15px center;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 10px 30px 10px 50px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 16px;
  @include rounded(100px);
}

/* ==================================================
    =Payment
===================================================== */

#promo.payment {
  background: url(../img/assets/promo-payment.jpg) no-repeat center center;
  @include cover();
}
#payment-section {
  background: #7a55a0;
  padding: 50px 0;
  text-align: center;
  .container {
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
  }
  form {
    fieldset {
      padding: 35px 15px 20px;
      border: 1px solid #fff;
      margin: 30px 0 50px 0;
      @include rounded(15px);
    }
    .certificate-thumb {
      margin-top: 50px;
    }
    .group {
      position: relative;
      @include cf();
    }
    .styledCheckbox {
      float: left;
      margin-right: 15px;
    }
    .group.checkbox {
      text-align: left;
      margin-bottom: 20px;
      label {
        font-size: 14px;
        font-style: italic;
        span {
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    label {
      font-size: 14px;
      display: block;
      margin-bottom: 10px;
      text-align: left;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 100%;
      font-family: 'Merriweather';
      font-size: 16px;
      font-weight: 100;
      text-align: center;
      outline: none;
      border: none;
      color: #6d415f;
      background: #fff;
      padding: 11px 10px;
      margin-bottom: 10px;
      @include rounded(100px);
    }
    ::-webkit-input-placeholder {
       color: #6d415f;
    }
    :-moz-placeholder { 
       color: #6d415f;  
    }
    ::-moz-placeholder {  
       color: #6d415f;  
    }
    :-ms-input-placeholder {  
       color: #6d415f;  
    }
    input:focus::-webkit-input-placeholder {
        color: #fff;
    }
    input:focus:-moz-placeholder {
        color: #fff;
    }
    input:focus::-moz-placeholder {
        color: #fff;
    }
    input:focus:-ms-input-placeholder {
        color: #fff;
    }
  }
  .order-items {
    li, a {
        color: #fff;
        font-size: 20px;
        font-weight: 900;
        font-style: italic;
        strong {
          font-style: normal;
        }
      }
  }
  .order-box {
    margin: 30px 0 50px 0;
    padding: 35px 15px 20px;
    border: 1px solid #fff;
    @include rounded(15px);
    p {
        font-size: 20px;
        font-style: italic;
        font-weight: 900;
        text-align: left;
        span {
          font-style: normal;
          font-size: 16px;
          display: block;
          font-weight: 100;
          text-decoration: none;
        }
      
      }
    .order {
      .half {
        float: left;
        width: 50%;
      }
      .price {
        p {
          text-align: right;
          margin: 15px 0 0 0;
          span {
            display: inline-block;
          }
        }
      }
      a {
          font-size: 20px;
        font-style: italic;
        font-weight: 900;
        text-align: left;
          color: #fff;
        }
      p {
        font-size: 20px;
        font-style: italic;
        font-weight: 900;
        text-align: left;
        span {
          font-style: normal;
          font-size: 16px;
          display: block;
          font-weight: 100;
          text-decoration: none;
        }
      
      }
      li {
        font-size: 20px;
        font-weight: 900;
        font-style: italic;
        strong {
          font-style: normal;
        }
      }
      
      @include cf();
    }
    .close-order {
      margin-bottom: 30px;
    }
  }
}
.close-order {
  display: block;
  width: 100%;
  clear: both;
  text-indent: -9999px;
  border-bottom: 1px solid #fff;
  position: relative;
  span {
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    display: block;
    background: #7a55a0 url(../img/icons/close-icon3.png) no-repeat center center;
  }
}
.content-link {
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  text-decoration: underline;
}
.total-price {
  border: 1px solid #fff;
  background: #986ac7;
  padding: 40px 20px;
  margin-bottom: 50px;
  p {
    margin-bottom: 0;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
    font-size: 20px !important;
    font-style: italic;
    span {
      text-decoration: none;
      display: inline-block;
      float: right;
    }
  }
  @include rounded(15px);
}
.btn-6 {
  outline: none;
  font-size: 17px;
  text-transform: uppercase;
  padding: 16px 40px;
  margin: 0 0 50px 0;
  font-style: italic;
  background: #a86492;
  @include rounded(100px);
}

/* ==================================================
    =registered user
===================================================== */

#promo.reg-user {
  background: url(../img/assets/video-shop-top.jpg) no-repeat center top;
  @include cover();
}
#user-videos {
  background: #b6a3b0;
  padding: 50px 0 1px 0;
  .title-1 {
    margin-bottom: 30px;
  }
}
.video-info.purchased {
  .time {
    bottom: auto;
    top: 15px;
  }
}
.video-info {
  .countdown {
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
  }
  .renew {
    font-size: 13px;
    font-style: normal;
    margin-top: 10px;
  }
}
.renew {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid #fff;
  @include rounded(100px);
  padding: 5px 15px;
  font-style: normal;
}


/* ==================================================
    = Footer
===================================================== */

section#join-joga {
  text-align: center;
  padding: 50px 0;
  background: #a86492;
  .title-5 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 40px;
  }
  .highlighted-2 {
    margin-bottom: 20px;
  }
}
.privacy-content h3, .privacy-content h2, .title-5 {
  font-weight: 900;
  font-style: italic;
  font-size: 38px;
  span {
    color: #f492d4;
  }
}
.highlighted-2 {
  text-transform: uppercase;
  font-size: 24px;
  font-style: italic;
  span {
    color: #f492d4;
  }
}
section#newsletter {
  background: #7a55a0 url(../img/assets/newsletter-bg.jpg) no-repeat center center;
  @include cover();
  padding: 60px 0 30px;
  text-align: center;
  .title-1 {
    margin-bottom: 30px;
    span {
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
  p {
    font-style: italic;
    font-size: 17px;
    line-height: 27px;
  }
  form {
    margin: 30px 0;
    .group {
      position: relative;
    }
    input[type="text"],
    input[type="email"] {
      width: 100%;
      font-family: 'Merriweather';
      font-size: 14px;
      font-weight: 100;
      text-align: center;
      outline: none;
      border: none;
      color: #606060;
      background: #fff;
      padding: 15px 10px 15px 57px;
      margin-bottom: 20px;
      text-indent: -25px;
      @include rounded(100px);
    }
    .check-btn {
      position: absolute;
      top: 0;
      right: -10px;
    }
    ::-webkit-input-placeholder {
       color: #606060;
    }

    :-moz-placeholder { 
       color: #606060;  
    }

    ::-moz-placeholder {  
       color: #606060;  
    }

    :-ms-input-placeholder {  
       color: #606060;  
    }
  }
}
.check-btn {
  width: 47px;
  height: 47px;
  background: #7a55a0 url(../img/icons/check-icon.png) no-repeat center center;
  border: 0;
  outline: none;
  @include rounded(100px);
}
.footer-content {
  .block {
    margin-bottom: 20px;
    p {
      font-size: 14px;
      line-height: 24px; 
    }
    .link-4 {
      margin: 20px 0;
    }
  }
}
.link-4 {
  font-weight: 900;
  font-style: italic;
  font-size: 17px;
  color: #fff;
  display: inline-block;
}
.disclaimer {
  p {
    font-weight: 900;
    font-size: 13px !important;
    line-height: 20px !important;
    span {
      font-weight: 100;
    }
  }
  nav ul {
    margin-top: 30px;
    li {
      a {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        display: inline-block;
        font-size: 14px;
        line-height: 24px; 
        color: #fff;
        text-transform: uppercase;
        font-style: italic;
      }
    }
  }
}

/* ==================================================
    =TT school
===================================================== */

#program-description {
  background: #a86492;
  padding: 30px 0 1px;
  .user-content p {
    line-height: 30px;
    letter-spacing: 0.4px;
  }
}
.img-wrapper-certificate {
  max-width: 130px;
  text-align: center;
  img {
    margin-bottom: 15px;
  }
}
.img-description {
  p {
    font-family: 'Merriweather';
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.-uppercase {
  text-transform: uppercase !important;
}
.-program-description {
  .highlighted {
    margin-bottom: 30px;
  }
}
#lr-content-wrapper {
  padding: 30px 0 1px;
  background: #7a55a0;
}
.side-menu {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  li {
    margin-bottom: 15px; 
    a {
      font-family: 'Merriweather';
      color: #fff;
      font-size: 21px;
      display: block;
      font-weight: 100;
      letter-spacing: 0.4px;
    }
  }
}
#lr-content-wrapper .main-content.-right-sided {
  .highlighted-title,
  .highlighted-title-small {
    margin-bottom: 35px;
  }
}
.highlighted-title {
    font-weight: 900;
    color: #fff;
    font-style: italic;
    font-size: 29px;
    line-height: 35px;
    span {
      text-transform: none;
      display: block;
      font-size: 17px;
      font-style: normal;
      font-weight: 100;
    }
}
.highlighted-title-small {
    font-weight: 900;
    color: #fff;
    font-style: italic;
    font-size: 22px;
    line-height: 35px;
}
.content-block {
  margin-bottom: 60px;
}
.user-content .plain-list,
.plain-list {
  margin-left: 0;
  li {
    padding: 0;
    margin: 0 0 8px 0;
  }
  li:before {
    display: none;
  }
}
.gfield_course_option_wrapper {
  border: 1px solid #fff;
  max-width: 515px;
  padding: 30px 20px 0;
  margin-bottom: 40px;
  @include rounded(10px);
}
.gform_body,
.gform_footer {
  max-width: 515px;
  width: 100% !important;
}
.gform_wrapper {
  input[type="text"] {
    width: 100%;  
    outline: none;
    border: none;
    text-align: center;
    font-size: 15px;
    color: #6d415f;
    font-family: 'PT Serif';
    margin-bottom: 40px !important;
    padding: 16px 50px 15px 50px;
    @include rounded(100px);
  }
  input::-webkit-input-placeholder {
    font-size: 15px;
      color: #6d415f;
      font-family: 'PT Serif';
  }
  input:focus::-webkit-input-placeholder {
      color: transparent;
  }

  /* Firefox < 19 */
  input:-moz-placeholder {
      font-size: 15px;
      color: #6d415f;
      font-family: 'PT Serif';
  }
  input:focus:-moz-placeholder {
      color: transparent;
  }

  /* Firefox > 19 */
  input::-moz-placeholder {
      font-size: 15px;
      color: #6d415f;
      font-family: 'PT Serif';
  }
  input:focus::-moz-placeholder {
      color: transparent;
  }

  /* Internet Explorer 10 */
  input:-ms-input-placeholder {
      font-size: 15px;
      color: #6d415f;
      font-family: 'PT Serif';
  }
  input:focus:-ms-input-placeholder {
      color: transparent;
  }
  .gfield_label {
    font-size: 15px;
    color: #fff;
    font-family: 'PT Serif';
    margin-bottom: 15px;
    display: block;
    text-align: center;
    line-height: 23px;
  }
  .gsection_title {
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 35px;
  }
  input[type="submit"] {
    background: #a84a8a;
    color: #fff;
    text-align: center;
    padding: 16px 50px 16px 50px;
    font-style: italic;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    outline: none;
    border: none;
    margin: 0 auto;
    display: block;
    font-family: 'Merriweather';
    font-weight: 900;
    @include rounded(100px);
  }
}
.alert-msg {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Merriweather';
  font-weight: 100;
  font-size: 14px;
}
.user-notice {
  color: #fff;
  font-family: 'Merriweather';
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 10px;
  span {
    font-weight: 900;
    font-size: 24px;
    margin-right: 20px;
    color: #f492d4;
    position: relative;
    bottom: -1px;
  }
}
.ginput_container_fileupload {
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
    height: 35px;
}
.ginput_container_fileupload:after {
  content: "Upload";
  display: inline-block;
  font-family: 'Merriweather';
  font-size: 14px;
  color: #fff;
  background: #a84a8a;
  cursor: pointer;
  font-style: italic;
  padding: 8px 30px;
  @include rounded(100px);
}
.ginput_container_fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 36px;
    filter: alpha(opacity=0);
}
.gfield_radio li {
  @include cf();
  .styledRadio {
    float: left;
    margin: 0 0 20px 0;
  }
  label {
    color: #fff;
    font-family: 'Merriweather';
    font-weight: 100;
    font-size: 14px;
    margin: 0 0 0 10px;
  }
}


/* ==================================================
    =Media Queries
===================================================== */

@media only screen and (min-width: 530px) {
  #promo.home-promo {
    height: 530px;
  }
}
@media only screen and (min-width: 580px) {
  .article-detailed {
    .gallery {
      .thumb {
        width: 30%;
      }
    }
  }
}

/* ==================================================
    =High def devices
===================================================== */

// Source https://gist.github.com/3446599
@media  only screen and (min-device-pixel-ratio: 1.3),
        only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {
    // Place code here

    .site-logo {
      background: url(../img/high-def/logo.png) no-repeat center center;
      background-size: 260px;
    }
    .face-login {
      background: #5782c8 url(../img/high-def/face-icon-2.png) no-repeat 25px center;
      background-size: 14px;
    }
    .twitter-login {
      background: #25b6e6 url(../img/high-def/twitter-icon-2.png) no-repeat 25px center;
      background-size: 26px;
    } 
    .socials {
      .facebook {
        background: url(../img/high-def/face-icon.png) no-repeat center center;
        background-size: 44px;
      }
      .twitter {
        background: url(../img/high-def/twitter-icon.png) no-repeat center center;
        background-size: 44px; 
      }
      .youtube {
        background: url(../img/high-def/youtube-icon.png) no-repeat center center;
        background-size: 44px;
      }
      .instagram {
        background: url(../img/high-def/youtube-icon.png) no-repeat center center;
        background-size: 44px;
      }
      .instagram {
        background: url(../img/high-def/google-icon.png) no-repeat center center;
        background-size: 44px;
      }

    }
    .video-info .time {
        background: url(../img/high-def/clock-icon.png) no-repeat left center;
        background-size: 16px;
    }
    .video-preview a:after {
        background: url(../img/high-def/play-icon.png) no-repeat center center;
        background-size: 44px; 
    }
    .check-btn {
        background: url(../img/high-def/check-icon.png) no-repeat center center;
        background-size: 16px; 
    }
    .open-content {
      background: url(../img/high-def/open-icon.png) no-repeat center center;
      background-size: 32px; 
    }
    .close-content {
      background: url(../img/high-def/close-icon.png) no-repeat center center;
      background-size: 32px;
    }
    .pagination .prev {
      background: url(../img/high-def/arr-left.png) no-repeat 9px center;
      background-size: 8px;
    }
    .pagination .next {
      background: url(../img/high-def/arr-right.png) no-repeat 11px center;
      background-size: 8px;
    }
    div.fancy-select div.trigger:after {
      background: url(../img/high-def/arr-left-purple.png) no-repeat center center;
      background-size: 8px;
    }
    .filter-videos button {
      background: url(../img/high-def/lupa-icon.png) no-repeat center center;
      background-size: 16px;
    }
    .title-6 .time {
      background: url(../img/high-def/clock-icon.png) no-repeat left center;
      background-size: 16px;
    }
    .price-box .btn-3 {
      background: #a86492 url(../img/high-def/box-icon.png) no-repeat 15px center;
      background-size: 16px;
    }
    .btn-5 {
      background: url(../img/high-def/camera-icon.png) no-repeat left center;
      background-size: 12px;
    }
    .close-order {
      background: url(../img/high-def/close-icon3.png) no-repeat left center;
      background-size: 12px;
    }
    .logged-user .user span:after {
      background: url(../img/high-def/user-icon.png) no-repeat center center;
      background-size: 16px;
    }
    .logged-user .cart:after {}
      background: url(../img/high-def/cart-icon.png) no-repeat center center;
      background-size: 26px;
}

form fieldset {
  label {
    display: none!important;
  }
}

.woocommerce {
  position: relative;
}
.woocommerce .blockUI.blockOverlay {
  background: none!important;
}
.payment_methods.methods {
  display: none!important;
}
.add_to_cart_button.added {
  display: none;
}
.woocommerce-info, .woocommerce-message {
  font-size: 15px;
  line-height: 29px;
  margin-bottom: 20px;
  padding: 35px 20px 35px;
  border: 1px solid #fff;
  border-radius: 15px;
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.woocommerce {
  h2, .woocommerce-error {
    text-align: center;
  }
  .woocommerce-error {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
}

.login-form .lost-password {
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    color: #fff;
}

.woocommerce .cart-empty {
    font-size: 18px;
    color: #fff;
}
.woocommerce .return-to-shop a{
    font-size: 16px;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}
.main-nav ul li.current-menu-item a {
  background: #7a55a0;
}

.product-header-image:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(125, 85, 160, 0.5);
}

.woocommerce p {
  font-size: 15px;
  line-height: 29px;
}
.ssba-wrap {
  margin-bottom: 30px;
  color: #fff;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

#promo .container {
  position: relative;
}

