/* EuroART93 admin styles */
/* hello :) */
#wp-admin-bar-wp-logo > .ab-item .ab-icon
{
	background: url(img/ea-logo.png) top center no-repeat;
	width:24px;
}
#wpadminbar.nojs #wp-admin-bar-wp-logo:hover>.ab-item .ab-icon,#wpadminbar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon 
{
	background-position: bottom center;
}
#example_dashboard_widget {
	background: #FFBF76;
}
#dashboard_right_now
{
	background: #f7f7f7 url(../img/tran-logo.png) bottom right no-repeat;
}
.update-nag { display:none; } 