/* EuroART93 Custom Login Styles */
body.login div#login h1 a {
    background-image: url('img/ea93-logo.png');
    height: 160px;
    width: 261px;
    background-size: auto;
}
body.login
{

background-image: url( 'img/tback.jpg' );
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin: 0;
  padding: 0;
  height: 100%;
}


.wp-core-ui .button-primary {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  color: #000000;
  background: #ffffff;
  padding: 15px;
  border-color: #cfcfcf;
  border: solid #cfcfcf 2px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus {
  background:transparent;
  border: solid #68829d 2px;
  outline: none;
}

.login #nav a, 
.login #backtoblog a
{
	color: #fff!important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	text-decoration: none;
}
.login #nav a:hover, 
.login #backtoblog a:hover
{
	text-decoration: underline;
	color: #fff!important;
}

div.error, .login #login_error {
	background: transparent;
	border-color: #cb2225;
	color:#fff;
	text-shadow:none; 
	text-align: center;
	-webkit-border-radius: 40;
  	-moz-border-radius: 40;
	border-radius: 40px;
	margin: auto;
	border: 2px solid #fff;
}
 div.error, .login #login_error a { color:#fff; }
 div.updated, .login .message
 {
 	border:0;
 	border-color:none;
 }

 .login form {
 	background: none;
 	box-shadow: none;
 	text-align: center;
 }

.login input[type=text], .login input[type=password] {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 40;
  	-moz-border-radius: 40;
	border-radius: 40px;
	margin: auto;
	border: 2px solid #fff;

	padding: 5px 10px 5px 10px;
	margin-bottom: 20px;
	text-align: center;
 }

.login input[type=password] {
	margin-bottom: 20px;
}

.login form input[type=checkbox] {
	background: transparent;
  	border-radius: 16px;
}

.login label {
	color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

div.updated, .login .message {
	background: transparent;
	border-color: #cb2225;
	color:#fff;
	text-shadow:none; 
	text-align: center;
	-webkit-border-radius: 40;
  	-moz-border-radius: 40;
	border-radius: 40px;
	margin: auto;
	border: 2px solid #fff;
}

.login form .forgetmenot {
	padding: 5px;
}

